
@font-face {
    font-family: "BravuraText";
    src: url(http://sintrastes.github.io/demos/xen_fret/Bravura.woff);
}

.bravura {
    font-family: "BravuraText";
    vertical-align: text-top;
}

g > text {
    font-family: "BravuraText";
    vertical-align: text-top;
}

.main-pane-left {
    float: left;
    width: 50%;
    border-style: solid;
    padding: 25px;
}

.main-pane-right {
    float: left;
    width: 50%;
    border-style: solid;
    padding: 25px;
}

@media (min-width: 800px) {
    .hide-when-pane-open {
        width: 0%;
        display: none;
    }
}

@media (max-width: 800px) {
    .main-pane-left {
        float: left;
        width: 100%;
        border-style: solid;
        padding: 25px 25px 5px 25px;
    }
    
    .main-pane-right {
        width: 0%;
        display: none;
    }

    .show-when-pane-open {
        width: 0%;
        display: none;
    }
}

/** Tweak row spacing */

.input-field {
    margin-bottom: 5px;
}

.row {
    margin-bottom: 0px;
}

/** Don't display arrows on numeric entry forms (we'll add our own) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}